### Random Test 생성

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-comparison-doe-and-random/random/random-after-spmm/random-1300-after-spmm.csv")
df

,lr,lc,rc,ld,rd,lnnz,rnnz,sp_smdm_todense,sp_smdm_multiply,sp_smdm_total,bz_smsm
0,133615,48032,11168,0.000470,0.1300,3016572,69735088,16043,118198,134241,234635
1,48358,54234,5866,0.000185,0.0700,484326,22272010,5595,17563,23158,18804
2,112273,19392,7870,0.000025,0.1300,54060,19840660,1395,16147,17542,4277
3,33047,17905,8258,0.008605,0.0010,5092216,147869,1634,60892,62526,1844
4,112238,64949,4299,0.000823,0.2500,5998169,69813465,2359,98884,101243,125899
...,...,...,...,...,...,...,...,...,...,...,...
1295,15283,68140,28533,0.000005,0.0005,4832,972131,8914,13347,22261,35
1296,64937,13955,3132,0.002962,0.2500,2684082,10928940,163,16047,16210,36024
1297,13636,6566,2394,0.000563,0.0300,50379,471685,52,487,539,290
1298,105305,27101,13298,0.002962,0.1000,8452833,36040588,10211,310348,320559,261154
1299,47493,7813,2483,0.001082,0.0300,401443,582094,169,2855,3024,1925

In [2]:
# 특정 개수만큼 랜덤으로 뽑음
random_test_300 = df.sample(n=300)
random_test_300.to_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-comparison-doe-and-random/random/random-after-spmm/random-test-after-spmm/random-test-300.csv",index=False)

In [3]:
# 원본 데이터에서 Test 데이터를 제외한 뒤, 저장
df_train = df.drop(index=random_test_300.index)
df_train

,lr,lc,rc,ld,rd,lnnz,rnnz,sp_smdm_todense,sp_smdm_multiply,sp_smdm_total,bz_smsm
0,133615,48032,11168,0.000470,0.1300,3016572,69735088,16043,118198,134241,234635
1,48358,54234,5866,0.000185,0.0700,484326,22272010,5595,17563,23158,18804
3,33047,17905,8258,0.008605,0.0010,5092216,147869,1634,60892,62526,1844
5,48202,56017,3874,0.000563,0.1500,1519212,32556988,1541,10039,11580,25894
8,68995,27841,15139,0.000134,0.1300,256697,54796778,12396,37279,49675,45946
...,...,...,...,...,...,...,...,...,...,...,...
1293,143092,65008,3069,0.000153,0.1300,1422960,25936502,1879,21900,23779,39617
1295,15283,68140,28533,0.000005,0.0005,4832,972131,8914,13347,22261,35
1296,64937,13955,3132,0.002962,0.2500,2684082,10928940,163,16047,16210,36024
1298,105305,27101,13298,0.002962,0.1000,8452833,36040588,10211,310348,320559,261154
1299,47493,7813,2483,0.001082,0.0300,401443,582094,169,2855,3024,1925

### Random Test 추출 한 뒤, 나머지에서 Random Train 생성

In [4]:
# 특정 개수만큼 랜덤으로 뽑음
random_train_200 = df_train.sample(n=200)
random_train_200.to_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-comparison-doe-and-random/random/random-after-spmm/random-train-after-spmm/random-train-200.csv",index=False)

In [5]:
# 특정 개수만큼 랜덤으로 뽑음
random_train_400 = df_train.sample(n=400)
random_train_400.to_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-comparison-doe-and-random/random/random-after-spmm/random-train-after-spmm/random-train-400.csv",index=False)

In [6]:
# 특정 개수만큼 랜덤으로 뽑음
random_train_600 = df_train.sample(n=600)
random_train_600.to_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-comparison-doe-and-random/random/random-after-spmm/random-train-after-spmm/random-train-600.csv",index=False)

In [7]:
# 특정 개수만큼 랜덤으로 뽑음
random_train_800 = df_train.sample(n=800)
random_train_800.to_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-comparison-doe-and-random/random/random-after-spmm/random-train-after-spmm/random-train-800.csv",index=False)

In [8]:
# 특정 개수만큼 랜덤으로 뽑음
random_train_1000 = df_train.sample(n=1000)
random_train_1000.to_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-comparison-doe-and-random/random/random-after-spmm/random-train-after-spmm/random-train-1000.csv",index=False)