In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/lhs/create-custom-sparse-matrix-combination/877290-lhs-lr-150000-lc-100000-rc-50000.csv")
df

            lr     lc     rc        ld     rd      lnnz      rnnz
0        57535  10084  12623  0.000788  0.250    457065  31824635
1        27630  22576  29949  0.009521  0.001   5939065    676146
2        73970  41669  13680  0.000185  0.030    569214  17101466
3        37458  18422   7698  0.000470  0.100    324360  14182240
4       130836  95086   1318  0.004916  0.270  61158357  33852991
...        ...    ...    ...       ...    ...       ...       ...
877285   76525  52298   6579  0.000822  0.200   3289155  68822638
877286  119384  22174  13093  0.009521  0.010  25204373   2903432
877287   53020   3349   2723  0.000788  0.005    139890     45613
877288   40356  78198  27148  0.000822  0.005   2593640  10614701
877289   31618  30456  10820  0.000342  0.050    329740  16477438

[877290 rows x 7 columns]

### Random Test 생성

In [2]:
# 특정 개수만큼 랜덤으로 추출
test_300 = df.sample(n=300)

# 추출한 데이터를 Random Test 데이터로 저장
test_300.to_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-performance-comparison-of-doe-and-random/random-test/random-test-300.csv",index=False)
test_300

            lr     lc     rc        ld      rd      lnnz      rnnz
257550   80582  14431    384  0.008605  0.1300  10007283    721665
55197   126636  24192    561  0.002962  0.0010   9073916     13586
743850    9244  41300  24556  0.000411  0.0050    156905   5071095
743116   43641  73360   3546  0.000411  0.2000   1315751  52041672
480827   18257   1665  21943  0.001605  0.1300     48824   4751757
...        ...    ...    ...       ...     ...       ...       ...
129805   15283  68140  28533  0.000005  0.0005      4832    972131
81870    64937  13955   3132  0.002962  0.2500   2684082  10928940
496339   13636   6566   2394  0.000563  0.0300     50379    471685
520927  105305  27101  13298  0.002962  0.1000   8452833  36040588
426773   47493   7813   2483  0.001082  0.0300    401443    582094

[300 rows x 7 columns]

### 원본 데이터에서 Random Test 제거

In [ ]:
after_extract_random_test = df.drop(index=test_300.index, axis=0)
after_extract_random_test.to_csv("/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/dataset/for-performance-comparison-of-doe-and-random/after-extract-random-test.csv",index=False)