In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/d-optimal/spmm-of-d-optimal/lr-150000-lc-100000-rc-50000/1293-spmm-over-3s.csv')  
df

,lr,lc,rc,ld,rd,lnnz,rnnz,sp_smdm,bz_smsm,bz_smdm
0,97366,33288,5958,0.000563,0.130,1823595,25785518,32623,76241,73181
1,37277,6335,8305,0.000153,0.200,36129,10524778,5402,4022,6577
2,122335,65522,2027,0.000411,0.250,3294205,33216643,31856,50312,47826
3,85283,55401,5954,0.000017,0.130,78006,42884765,22248,5405,10935
4,88648,49392,11945,0.002962,0.005,12968430,2949991,339996,53227,908915
...,...,...,...,...,...,...,...,...,...,...
1288,94741,3356,15316,0.004916,0.150,1563061,7710242,53350,149334,151154
1289,45728,52231,6071,0.004916,0.200,11741599,63419426,138506,122161,369161
1290,25845,6614,29098,0.010843,0.200,1853575,38494486,78693,146114,280707
1291,94177,8312,10788,0.000319,0.250,250056,22421007,19914,56150,17318
1292,147930,31432,996,0.000319,0.070,1485205,2193518,5399,9109,13536

### 최소 latency label 확인

In [2]:
min_label = []

for i in range(len(df)):
    latency_list = []
    latency_list.append(df.loc[i,'sp_smdm'])
    latency_list.append(df.loc[i,'bz_smsm'])
    latency_list.append(df.loc[i,'bz_smdm'])
    min_label.append(latency_list.index(min(latency_list)))

### 최소  latency label 결과 추가

In [3]:
df = pd.concat([df,pd.DataFrame(min_label,columns=['min_label'])], axis =1)
df.to_csv('/Users/bdlab/Desktop/sparse-matrix-multiplication/scenario-extraction/d-optimal/spmm-of-d-optimal/lr-150000-lc-100000-rc-50000/1293-spmm-over-3s-with-label.csv', index=False)   # csv 저장시 index 제거
df

,lr,lc,rc,ld,rd,lnnz,rnnz,sp_smdm,bz_smsm,bz_smdm,min_label
0,97366,33288,5958,0.000563,0.130,1823595,25785518,32623,76241,73181,0
1,37277,6335,8305,0.000153,0.200,36129,10524778,5402,4022,6577,1
2,122335,65522,2027,0.000411,0.250,3294205,33216643,31856,50312,47826,0
3,85283,55401,5954,0.000017,0.130,78006,42884765,22248,5405,10935,1
4,88648,49392,11945,0.002962,0.005,12968430,2949991,339996,53227,908915,1
...,...,...,...,...,...,...,...,...,...,...,...
1288,94741,3356,15316,0.004916,0.150,1563061,7710242,53350,149334,151154,0
1289,45728,52231,6071,0.004916,0.200,11741599,63419426,138506,122161,369161,1
1290,25845,6614,29098,0.010843,0.200,1853575,38494486,78693,146114,280707,0
1291,94177,8312,10788,0.000319,0.250,250056,22421007,19914,56150,17318,2
1292,147930,31432,996,0.000319,0.070,1485205,2193518,5399,9109,13536,0